@import "null.scss";
@import "variables";
@import "fonts";
@import "ui.scss";
@import "header";
@import "home.scss";

body {
  font-family: $fontFamily;
  color: $black;
  font-size: 14px;
}

._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 750px;
  }
  @media (max-width: $md2) {
    max-width: none;
    padding: 0 10px;
  }
}

body._lock {
  overflow: hidden;
}

.page {
  padding: 90px 0px 0px 0px;
  flex: 1 1 auto;
  @media (max-width: $md3) {
    padding: 35px 0px 0px 0px;
  }
}
