.title {
  font-size: 44px;
  font-family: $fontFamily;
  font-style: normal;
  font-weight: 700;
  line-height: 60 / 44 * 100%;
  color: $dark;

  @media (max-width: $md3) {
    font-size: 32px;
  }
}

.text {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23 / 16 * 100%;
  color: $dark;
}

.btn {
  background-color: $primary;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20px;

  font-family: $fontFamily;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29/20 * 100%;
  color: white;

  transition: background-color 0.3s ease;
  &:hover {
    background-color: #c90505;
  }
}
