$fontFamily: "Heebo";

$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 856px;
$md1: $maxWidthContainer + 12;
$md2: 992px;
$md3: 768px;
$md4: 480px;

// Basic Colors

$black: #000;

// Project Colors
$primary: #ff6464;
$secondary: #00a8cc;
$dark: #21243d;
$light: #8695a4;
